.logo {
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.navbar {
    /* margin-right: 0px;
    margin-left: 0px;
    padding: 25px; */
    background: #5D6D7E;
  }

.first image {
    padding: 10px;
    background: white;
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:20px;
    align-content: center;
}

.text {
    float: right;
}